body{
	background: #222126;
	background-repeat: repeat;
	overflow-X: hidden;
}
section{
	position: relative;
	bottom: 30px;
}
.divs{
	background: #2e2d34;
	border-radius: 50px;
	text-align: center;
}
#main-div{
	width: 1000px;
	height: 780px;
	margin: 90px auto;
}
#div2{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background: #34333b;
}
#div3{	
	width: 500px;
	height: 150px;
	margin: 10px auto;
	background: #34333b;
}
#div4{
	display: inline-block;
	width: 400px;
	height: 300px;
	text-align: left;
	background: #34333b;
}
#div5{
	width: 400px;
	height: 150px;
	text-align: left;
	background: #34333b;
	margin: 0px auto;
}
@font-face {
	font-family: 'Proxima_Nova_Black_Italic';
	src: url(sitefiles/Proxima_Nova_Black_Italic.otf);
}
@font-face {
	font-family: 'gothamxnarrow_black';
	src: url(sitefiles/gothamxnarrow_black.otf);
}
p{
	opacity: 0;
	position: absolute;
	left: 90px;
	margin-top: 0px;
	color: white;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	font-family: 'Proxima_Nova_Black_Italic';
	transition: 1s;
	text-align: center;
	font-size: 13px;
}
#p2{
	margin-left: 65px;
}
#p3{
	margin-left: 130px;
}
#p4{
	margin-left: 185px;
}

.imgsot{
	display: inline-block;
    	height: 50px;
    	width: 58px;
    	margin: 0 auto;
}
.imgsot:hover p{
	opacity: 0.6;
	transition: 0.2s opacity ease-in;
	transform: scale(1.1);
}
h1 {
	display: inline-block;
	position: relative;
	font-family: 'Proxima_Nova_Black_Italic';
	font-size: 80px;
	color:	lightgray;
	cursor: pointer;
	bottom: 10px;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
h1:hover{
	color: white;

}
h2{
	position: relative;
	bottom: 85px;
	font-family: 'Proxima_Nova_Black_Italic';
	font-size: 30px;
	color:	#999999;
	cursor: default;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
h3{
	font-family: 'Proxima_Nova_Black_Italic';
	font-size: 25px;	
	color:	lightgray;
	cursor: pointer;
}
h4{
	font-family: 'Proxima_Nova_Black_Italic';
	font-size: 25px;	
	color:	lightgray;
}
hr{
	position: relative;
	bottom: 50px;
	border: none; /* Убираем границу для браузера Firefox */
    	color: #232126; /* Цвет линии для остальных браузеров */
    	background-color: #232126; /* Цвет линии для браузера Firefox и Opera */
    	height: 8px; /* Толщина линии */
}

li{
	list-style-type: circle;
	color: #a29daa;
	font-family: 'gothamxnarrow_black';
	list-style-position: inside;
	text-align: left;
	margin-left: ;
	padding-bottom: 10px;
}
li a{
	text-decoration: none;
	color: #BF4AFF;
}
#ul2{
	display: flex;
	flex-direction: inherit;
	margin: 0 auto;
}
#li2{
	list-style-type: none;
	margin-right: 60px;
}
#main{
	float: left;
	margin-left: 20px;
}
#main2{
	float: right;
	margin-right: 20px;

}
#ava{
	width: 100px;
	float: left;
	border-radius: 50%;
	margin: 20px;
	border: 5px solid #34333b;
	position: relative;
	bottom: 60px;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}

#dsid{
	position: relative;
	top: 5px;
	margin-top: 60px;
}
#sottxt:hover{
	transform: translateY(-5px);
    	transition: 1s ease;
}
#friends:hover{
	transform: translateY(-5px);
    	transition: 1s ease;
}
#what:hover{
	transform: translateY(-5px);
    	transition: 1s ease;
}
#url:hover{
	transform: translateY(-5px);
    	transition: 1s ease;
}
#ds{
	position: relative;
	bottom: 46px;
	left: 151px;
	width: 22px;
    	transition: 1s ease;
    	cursor: pointer;

   	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}
#ds:hover{
	transform: translateY(-8px);
    	transition: 1s ease;
}
#prof{
	background: #585858;
	height: 38px;
}
.sot{
	width: 50px;
	margin-left: 10px;
	border-radius: 50%;
	opacity: 1;
	transition: 1s;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
}
.sot:hover {
	opacity: 0.8;
	transition: 0.2s opacity ease-in;
	transform: scale(1.1);
}
#url{
	padding-top: 10px;
	transition: 1s ease;
}
.url2:hover{
	opacity: 0.8;
}
.url3{

}
#what{
	margin: 0;
	transition: 1s ease;
}
#sot-panel{
	position: relative;
	right: 110px;
	width: 500px;

}
#sot-panel2{
	margin-left: 15%;
}
#yt1{
	border-radius: 50%;
}
#sot-panel{
	position: relative;
	top: 10px;
}
#sottxt{
	position: relative;
	top: 20px;
	right: 40px;
	transition: 1s ease;
}
#friends{
	text-align: center;
	padding-top: 10px;
	transition: 1s ease;
}
.friend{
	font-size: 15px;
}
#beta{
	position: fixed;
	bottom: 0px;
	font-size: 20px;
	opacity: 0.5;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
#sot-p1{
	position: absolute;
	right: 45%;
}
#sot-p2{
	position: absolute;
	right: 20%;
}
#sot-p3{
	position: absolute;
	left: 57%;
}
#sot-p4{
	position: absolute;
	left: 68%;
}
#sot-p5{
	position: absolute;
	left: 80%;
}
@media(max-width: 1000px) {
	#main-div{
		width: 700px;
		height: 1400px;
		margin: 0 auto;
	}
	#sot-group{
		position: relative;
		left: 40px;
	}
	#div2{
		width: 500px;
		height: 350px;
		margin-bottom: 40px;
	}
	#div3{
		width: 500px;
		height: 150px;
	}
	#div4{
		width: 500px;
		height: 300px;
		padding: none;
		margin-right: 20px;
		margin-bottom: 15px;
	}
	#div5{
		width: 500px;
		height: 150px;
		position: relative;
		right: 10px;
		margin-bottom: 40px;
	}
	#main2{
		margin: 0 auto;

	}
	#sot-panel2{
		margin-left: 23%;
	}
	#p1{
		margin-left: 7%;
	}
	#p2{
		margin-left: 20%;
	}
	#p3{
		margin-left: 32%;
	}
	#p4{
		margin-left: 44%;
	}


	section{
		display: flex;
  		flex-direction: column;
	}
	li{
		font-size: 20px;
	}
}
@media(max-width: 715px){
	#main-div{
		width: 340px;
		height: 1400px;
		margin: 0 auto;
	}

	#div2{
		width: 320px;
		height: 350px;
	}
	#sot-group{
		position: relative;
		left: 0px;
	}
	#div3{
		width: 320px;
		height: 200px;
	}
	#div4{
		width: 320px;
		height: 270px;
		margin-bottom: 10px;
		position: relative;
		right: 10px;
	}
	#main2{
		margin: 0 auto;
	}
	#sottxt{
		font-size: 19px;
		position: relative;
		right: 65px;
	}
	#sot-panel{
		position: relative;
		right: 150px;
	}
	#div5{
		width: 300px;
		height: 150px;
		position: relative;
		right: 10px;
		margin-bottom: 40px;
	}
	#sot-panel2{
		margin-left: 7%;
	}
	#sot-panel2 img{
		width: 50px;
	}
	#dsid{
		font-size: 20px;
	}
	#ds{
		position: relative;
		bottom: 38px;
		left: 120px;
	}
	h2{
		font-size: 20px;
	}
	li{
		font-size: 17px;
	}
	#p1{
		margin-left: -20%;
	}
	#p2{
		margin-left: 5px;
	}
	#p3{
		margin-left: 70px;
	}
	#p4{
		margin-left: 42%;
	}
	#beta{
		font-size: 18px;
	}
}
@media(max-width: 356px){
	#main-div{
		width: 300px;
		height: 1400px;
		margin: 0 auto;
	}
	#div2{
		width: 280px;
		height: 350px;

	}
	#div3{
		width: 280px;
		height: 200px;
	}
	#div4{
		width: 280px;
		height: 270px;
		margin-bottom: 10px;
	}
	#div5{
		width: 280px;
		height: 150px;
	}
	#sot-panel2{
		margin-left: 3%;
	}	
	#main2{
		margin: 0 auto;
	}
	#sottxt{
		font-size: 17px;
		position: relative;
		right: 50px;
		top: 20	px;
	}
	#sot-panel{
		position: relative;
		right: 127px;
		top: 20px;
	}
	.sot{
		width: 40px;
		margin-left: 10px;
	}
	#sot2{
		margin-left: 25px;
	}
	h2{
		font-size: 20px;
	}
	.imgsot{
		width: 50px;
	}
	#dsid{
		font-size: 18px;
	}
	#ava{
		width: 80px;
		position: relative	;
		bottom: 50px;
	}
	#ds{
		position: relative;
		left: 110px;
		bottom: 35px;
	}
	#p1{
		margin-left: -20%;
	}
	#p2{
		margin-left: -5px;
	}
	#p3{
		margin-left: 55px;
	}
	#p4{
		margin-left: 41%;
	}
	#beta{
		font-size: 16px;
	}
	#sot-p1{
		position: absolute;
		right: 55%;
	}
	#sot-p2{
		position: absolute;
		right: 33%;
	}
	#sot-p3{
		position: absolute;
		left: 49%;
	}
	#sot-p4{
		position: absolute;
		left: 58%;
	}
	#sot-p5{
		position: absolute;
		left: 68%;
	}

}

